<!DOCTYPE html>
<html>
<head>
<title>Systam Student</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="container ">
	<h2>Welcome To GSG</h2>
	<h4>Systam Student</h4>
	<ul>
		<li><a href="{{ url_for('index') }}">Index</a></li>
		<li><a href="{{ url_for('student') }}">student</a></li>
		<li><a href="{{ url_for('courses') }}">courses</a></li>
		<li><a href="{{ url_for('CourseSchedule') }}">CourseSchedule</a></li>
	</ul>




	{% block body %}


<p>This is a Flask application.</p>


	{% endblock %}
</div><br /><br />

</body>
</html>


